<script>
import { ref } from '@vue/reactivity';
import { inject } from '@vue/runtime-core';
import { useStore } from 'vuex';

export default {
  setup(){
    const swal = inject('$swal')
    const store = useStore();

    const name = ref(null);
    const phone = ref(null);
    const address = ref(null);

    // 股票資料
    const stock = store.getters.stock

    // 點擊變色
    const change = (dom) => {
      name.value.classList.remove('clicked')
      phone.value.classList.remove('clicked')
      address.value.classList.remove('clicked')
      dom.classList.add('clicked')
    }

    // 清除所有變色
    const clear = () =>{
      name.value.classList.remove('clicked')
      phone.value.classList.remove('clicked')
      address.value.classList.remove('clicked')
    }

    // 送出資訊
    const send = () =>{
      swal('送出成功')
    }

    const test = (dom) =>{
      console.log(dom);
    }

    return {name,phone,address,change,clear,send,stock,test}
  }
}
</script>


<template>
  <div class="back" @click="clear">
    <div class="frame_back">
      <div class="frame">
      <div class='card_title'>
        OPTION #ONE
      </div>
      <div class='card_body'> 
        <div class='content_title'>
          Pages default style
        </div>
        <div class='form_group' ref="name" @click.stop="stopMaopao" @click="change(name)">
          <div class="label">
            <div class="text">姓名</div>
            <div class="tag">*</div>
          </div>
          <input type="text">
        </div>
        <div class='form_group' ref="phone" @click.stop="stopMaopao" @click="change(phone)">
          <div class="label">
            <div class="text">電話</div>
            <div class="tag">*</div>
          </div>
          <input type="text" oninput = "value=value.replace(/[^\d]/g,'')">
        </div>
        <div class='form_group' ref="address" @click.stop="stopMaopao" @click="change(address)">
          <div class="label">
            <div class="text">聯絡地址</div>
            <div class="tag">*</div>
          </div>
          <input type="text">
        </div>
        <div class="button">
            <button @click="send">送出</button>
        </div>
      </div>
    </div>
    </div>
    <div class="frame_back">
      <div class="frame">
      <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>收盤</th>
                    <th>開盤</th>
                    <th>高</th>
                    <th>低</th>
                    <th>交易量</th>
                    <th>漲跌幅</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in stock" :key="item.id">
                    <td>{{ item.date }}</td>
                    <td class="red" v-if="item.increase[0] != '-'">{{ item.close }}</td>
                    <td class="green" v-if="item.increase[0] === '-'">{{ item.close }}</td>
                    <td>{{ item.open }}</td>
                    <td>{{ item.high }}</td>
                    <td>{{ item.low }}</td>
                    <td>{{ item.volume }}</td>
                    <td class="red" v-if="item.increase[0] != '-'">{{ item.increase }}</td>
                    <td class="green" v-if="item.increase[0] === '-'">{{ item.increase }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    
  </div>
</template>


<style lang="scss" scoped>
.back{
  display: inline-block;
  width: 100%;
  height: 100%;
  >.frame_back{
    width: 100%;
    height: 50%;
    >.frame{
    display:inline-block;
    width: 700px;
    height: 400px;
    margin-top: 10px;
    padding: 1%;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    >.card_title{
      text-align: left;
      font-size: 10px;
      font-weight: 500;
    }
    >.card_body{
      display:inline-block;
      margin-top: 20px;
      height: 100%;
      width: 100%;
      >.content_title{
        text-align: left;
        
      }
      >.form_group{
        display: inline-block;
        padding: 1%;
        width: 97%;
        height: 40px;
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, 0.07);
        text-align: left;
        z-index: index 2;
        >.label{
          display: flex;
          width: 100%;
          >.text{
            width: 50%;
            text-align: left;
          }
          >.tag{
            width: 50%;
            text-align: right;
            color: red;
          }
        }
        >input{
          width: 99%;
          background-color:transparent;border:0;
          outline:medium;
        }
      
      }
      >.button{
        margin-top: 30px;
        height: 100px;
        >button{
          width: 100px;
          height: 40px;
          background-color:darkcyan;
          font-size: 25px;
          color: #fff;
          border: #fff;
          border-radius: 10px;
        }
      }
    }
  
  >.container{
    margin-top: 30px;
    >.table{
      width: 100%;
    }
  }
  
  }
  }
  
}
.clicked{
  background-color: rgba(	211,211,211, 0.7)
}
.red{
  color: red;
}
.green{
  color: green;
}
</style>