
<template>
  <router-view/>
</template>

<style lang="scss">
html,
body { 
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  background-color:#f6f9fa;
}
#app{
  display:inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

</style>
